<div class="wrapper" [ngClass]="{'show-primary-markets': userPreferences.showPrimaryMarkets}">
  <div class="summary">
    <span>{{match?.name}}</span>
    <button mat-icon-button
            matTooltip="Go to match detail"
            class="accent"
            [routerLink]="['event-detail', match?.eventId]">
      <mat-icon svgIcon="open-in-new"></mat-icon>
    </button>
  </div>
  <app-primary-market *ngIf="userPreferences.showPrimaryMarkets"
                      [primaryMarket]="primaryMarket"
                      [event]="match"
                      [outcomes]="outcomes"></app-primary-market>
</div>
