.wrapper {
  width: var(--width);
  height: 5rem;
  margin-bottom: var(--margin-bottom);
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .summary {
    font-size: larger;

    button{
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }

  &.show-primary-markets {
    height: fit-content;

    .summary {
      margin-bottom: 1rem;
    }
  }
}
