@use '@angular/material' as mat;

//all theming in this file

//angular material styling
@include mat.core();


//DA0000
//00246B

//basic theme for our needs
$primary-1: #002369;
$primary-2: #003CB5;
$primary-3: #5991FF;

$accent-1: #802020;
$accent-2: #FF0000;
$accent-3: #FF5E5E;

$sky-bet-test-primary-map: (
  50 : $primary-1,
  100 : $primary-1,
  200 : $primary-2,
  300 : $primary-2,
  400 : $primary-3,
  500 : $primary-3,
  600 : $primary-3,
  700:$primary-3,
  800:$primary-3,
  900:$primary-3,
  contrast: (
    50: #ececec,
    100: #ffffff
  )
);

$sky-bet-test-accent-map: (
  50 : $accent-1,
  100 : $accent-1,
  200 : $accent-2,
  300 : $accent-2,
  400 : $accent-2,
  500 : $accent-2,
  600 : $accent-2,
  700 : $accent-3,
  800 : $accent-3,
  900 : $accent-3,
  contrast: (
    50: #ececec
  )
);

$sky-bet-test-primary: mat.define-palette($sky-bet-test-primary-map);
$sky-bet-test-accent: mat.define-palette($sky-bet-test-accent-map);

$sky-bet-test-warn: mat.define-palette(mat.$red-palette);

$sky-bet-test-theme: mat.define-light-theme((
  color: (
    primary: $sky-bet-test-primary,
    accent: $sky-bet-test-accent,
    warn: $sky-bet-test-warn,
  )
));

@include mat.all-component-themes($sky-bet-test-theme);

//HOME PAGE
.home-background {
  background-color: map_get(map_get($sky-bet-test-theme, primary), 700);
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);

  .matches-wrapper {
    background-color: map_get(map_get($sky-bet-test-theme, primary), 200);

    app-match .wrapper {
      background-color: map_get(map_get($sky-bet-test-theme, primary), 100);
    }
  }
}

//CONTROL PANEL
.control-panel {
  background-color: map_get(map_get($sky-bet-test-theme, accent), 100);
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);
}

//BET SLIP
.bet-slip {
  background-color: map_get(map_get($sky-bet-test-theme, accent), 500);
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);

  .outcome-price{
    background-color: map_get(map_get($sky-bet-test-theme, primary), 200);
  }
}

//OUTCOME COMPONENT
.outcome {
  margin: 0.5rem;

  &.flash {
    animation: ease-in-out 5s flash-outcome;
  }

  &-name {
    font-size: smaller;
    margin-right: 0.25rem;
  }

  &-price {
    font-size: smaller;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: map_get(map_get($sky-bet-test-theme, accent), 200);
    color: map_get(map_get(map_get($sky-bet-test-theme, accent), contrast), 50);
  }
}

//MATCH DETAIL
.match-detail-background {
  background-color: map_get(map_get($sky-bet-test-theme, primary), 700);
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);

  .metadata {
    background-color: map_get(map_get($sky-bet-test-theme, accent), 50);
  }
}

button.accent {
  background-color: map_get(map_get($sky-bet-test-theme, accent), 50);

  svg {
    fill: map_get(map_get(map_get($sky-bet-test-theme, accent), contrast), 50);

  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
}

/*
some angular material tweaks
 */

.allow-y-scroll .mat-tab-body-content {
  overflow-y: auto !important;
}

.mat-expansion-panel {
  background-color: map_get(map_get($sky-bet-test-theme, primary), 100);
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);

  .mat-expansion-indicator::after, mat-panel-title {
    color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 50);
  }
}

.mat-tab-label{
  color: map_get(map_get(map_get($sky-bet-test-theme, primary), contrast), 100);
}
