.home-background {
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  overflow-y: auto;
  margin: auto;
  text-align: center;

  --width: 40rem;
  --padding: 0.5rem;

  --border-radius: 0.25rem;
  --margin-bottom: 1rem;

  .matches-wrapper {
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    margin: auto;
  }

  mat-tab-group{
    max-height: calc(100vh - 4rem);
  }
}
