.home-background {
  width: 100vw;
  height: 100vh;
  min-height: fit-content;
  overflow-y: auto;
  margin: auto;
  text-align: center;

  --width: 40rem;
  --padding: 0.5rem;

  --border-radius: 0.25rem;
  --margin-bottom: 1rem;

  .control-panel {
    width: var(--width);
    padding: var(--padding);
    margin: auto;
    border-radius: var(--border-radius);
    margin-bottom:  calc(2 * var(--margin-bottom));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .matches-wrapper {
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
}
